<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Web服务端口，frp\frpc.ini 默认映射本地 9527。 -->
    <add key="WebPort" value="9527" />
    <add key="WebHost" value="127.0.0.1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>
