<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.14" targetFramework="net40" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="srp" version="1.0.6" targetFramework="net40" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net40" requireReinstallation="true" />
  <package id="Topshelf" version="3.3.1" targetFramework="net40" />
  <package id="Zyan" version="2.15.0" targetFramework="net40" requireReinstallation="true" />
  <package id="Zyan.SafeDeserializationHelpers" version="0.5.1" targetFramework="net40" />
</packages>